html {
    background-color: rgb(215, 215, 255);
}

p {
    font-family: 'Josefin sans',sans-serif;
    color: rgb(255, 72, 0);
    text-align: center;
}

.title {
    color: blue;
    text-align: center;
    font-size: 50px;
    font-family: 'Alfa Slab One',sans-serif;
    letter-spacing: 0.1em;
}

.nav {
    padding: 15px;
    border: 5px solid blue;
    background-color: aliceblue;
}

#downtown-Leesburg {
    padding: 25px;
    text-align: center;
}

#media {
    text-align: center;
}

#title-scenery {
    font-size: 30px;
    color: blue;
}

a[href*='blog'] {
    color: red;
}

a.nav:hover {
    color:blue;
    font-size: 22px;
}

#topnav {
    text-align: center;
    margin: 50px;
    background-color: beige;
}
